.main-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 0px #e3e3e3;
  padding-bottom: 20px;
  padding-right: 0;
}

.headline-caption {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#main-headline {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128,128,128,1)), color-stop(33%, rgba(235,235,235,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
}

.headline-caption #country {
  font-weight: 500;
  color: red;
  font-size: 1.6em;
  margin-bottom: 5px;
}

.headline-caption #description {
  font-weight: 400;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 5px;
}

.headline-caption #summary {
  font-size: 0.8em;
  color: grey;
}

.news-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
}

.news-container button {
  background-color: #e3e3e3;
}

@media screen and (max-width: 991px) {
  .news-container {
    text-align: center;
    align-content: center;
    padding-bottom: 50px;
    background-color: #f2f2f2;
  }
  .news-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.news-container li {
  border-bottom: 1px solid #e3e3e3;
  font-weight: 600;
  margin: 10px 0 ;
}

.ul-color {
  color: red;
  /* margin: auto; */
  margin-top: 10px;
}

.ul-color li {
  padding: 8px 0;
  list-style-position: inside;
  text-indent: -1.5em;
  padding-left: 1em;
}

.ul-color span {
  color: black;
}

.secondary-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 5px 10px 20px;
}

.secondary-container img {
  width: 100%;
}

.secondary-news {
  margin: 0 auto;
  padding: 0px;
}

.news-2 {
  background-color: #ccf5ff;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .secondary-container {
    flex-direction: column;
  }
  .secondary-news.news-1 {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 10px;
  }
  .secondary-news.news-2 {
    border-left: none;
    margin-left: 0;
  }
}

.news-caption {
  font-size: 1.2em;
  font-weight: bolder;
  color: red;
}

#news-button {
  text-align: center;
  width: 80%;
  height: 45px;
  margin: auto;
}

.headlines {
  display: flex;
  flex-direction: column;
}
