.main-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 0px #e3e3e3;
  padding-bottom: 20px;
  padding-right: 0;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%
}

.info-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 125px;
  bottom: 0;
}

.headline-caption {
  background-image: linear-gradient(to bottom,rgba(255,255,255,.5) 0,#fff 50%,#fff 100%);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.headline-caption .secondary-headline {
  background-image: none;
}

.content {
  position: relative;
}

.headline-caption #country {
  font-weight: 500;
  color: red;
  font-size: 1.6em;
  margin-bottom: 5px;
}

.headline-caption #description {
  font-weight: 400;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 5px;
}

.headline-caption #summary {
  font-size: 0.8em;
  color: grey;
}

.headline-caption #country a {
  color:red;
}

.headline-caption #country a:hover {
  color: #23527c;
  text-decoration: underline;
}

.headline-caption #description a {
  color: #000000;
}

.headline-caption #description a:hover {
  color: #23527c;
  text-decoration: underline;
}

.news-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
}

.news-container a {
  color: #000000;
}

.news-container a:hover {
  text-decoration: underline;
}

.news-container button {
  background-color: #e3e3e3;
}

@media screen and (max-width: 991px) {
  .news-container {
    text-align: center;
    align-content: center;
    padding-bottom: 50px;
    padding-right: 0px;
    background-color: #f2f2f2;
  }
  .news-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.news-container li {
  border-bottom: 1px solid #e3e3e3;
  font-weight: 600;
  margin: 10px 0 ;
  list-style-type: square;
}

.ul-color {
  color: red;
  /* margin: auto; */
  margin-top: 10px;
}

.ul-color li {
  padding: 8px 0;
  list-style-position: inside;
  text-indent: -1.5em;
  padding-left: 1em;
}

.ul-color span {
  color: black;
}

.secondary-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 20px 10px 20px;
}

.vertical-line {
  border-left: 1px solid #e3e3e3;
  margin: 0 10px;

}

.secondary-container img {
  width: 100%;
}

.secondary-news {
  margin: 0 auto;
  padding: 0;
}

.news-1 {
  border-right: 1px solid #e3e3e3;
  padding-right: 10px;
  margin-right: 10px;
}

.news-2 {
  background-color: #e6ffff;
  border: 1px solid #cdf0ff;

}

@media screen and (max-width: 768px) {
  .info-wrapper {
    position: relative;
  }
  .secondary-container {
    flex-direction: column;
    padding: 25px;
  }
  .news-1 {
    border-bottom: 1px solid #e3e3e3;
    border-right: none;
    margin-bottom: 10px;
    padding-right: 0;
  }
  .news-2 {
    margin: 0 auto;
    border-left: none;
  }
}

.news-caption {
  font-size: 1.2em;
  font-weight: bolder;
  color: red;
}

#news-button {
  text-align: center;
  width: 70%;
  padding: 15px 0;
  color: #757575;
  margin: auto;
}

#news-button:hover {
  opacity: .6;
}

.headlines {
  display: flex;
  flex-direction: column;
}
